﻿/*css for mobile up to 768*/
html {
    margin: 0;
    padding: 0;
}
/*body css*/
body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  color: white;
}

/*link css*/
a {
    color: white;
}

a:active, a:hover {
    color: grey;
    text-decoration: none;
}

/*navbar css*/
.navbar {
  background: transparent;
  border: none; 
}

/*navbar disappear setting*/
.navbar.off-canvas { 
    top: -89px;
}

/*navbar disappear setting*/
.navbar.fixed {
    top: 0;
    z-index: 9999;
}

/*navbar brand css (MeterSpot)*/
.navbar-brand {
  background: transparent;
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
  float: right;
  line-height: 1%;
  }

/*navbar and hover / focus css*/
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: grey;
  background-color: transparent;
}

/*navbar items font size and margin*/
.navbar-inverse .navbar-nav {
    font-size: 15px;
    margin-right: 1%;
    
}

/*list items color and margin*/
.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-weight: 900; 
  margin-right: 30px;

}

/*nav menu mobile off canvus list hover and focus css*/
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: grey;
  background-color: transparent;
}

/*nav menu no line seperator*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
   border-color: transparent;
}


.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:hover {
    background-color: grey;
}

ul.menu>li>a:hover, a:active {
    color: grey;
    text-decoration: none;
}


/*nav menu items to left*/
.nav navbar-nav {
    text-align: left;
}

/*keep navbar on top screen*/
.navbar-fixed-top { 
    position: absolute!important;

}




/*header css*/
.header {
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    height: 200px;
    overflow: hidden;
    background-size: cover;
    z-index: -100;
}

/*positioning of contact heading / story paragraph on contact / story page */
#contactInfo {
    margin-top: 10%;
}

/*main heaing on contact/story page*/
.contactHeading {
  background:#7f7f7f;
  background:rgba(0,0,0,0.5);
  width: 88%;
  border-radius: 20px;
  font-size: 20px;
  }

/*story paragraph on contact / story page*/
.storyPara {
    width: 88%;
    font-size: 18px;
}



/*main heading for about section / main page*/
.aboutTitles {
    text-align: center;
    font: bold;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 25%;
    margin-bottom: 8%;
    font-size: 36px;
}


/*about /main page headings for columns*/
.aboutPara {
    text-align: center;
    font-size: 16px;
    padding-top: 5%;
}


/*colunm paragraph positioning*/
.col-md-4 {
    text-align: center;
}


/*padding for heading on contact page for navbar room*/
.contact {
    padding-top: 4em;
}

/*comment box*/
.status-upload {
    background: none repeat scroll 0 0 #f5f5f5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    float: left;
    width: 100%;
    margin-bottom: 3%;
}

/*comment form*/
.status-upload form {
float: left;
width: 100%;
}
 /*comment form*/
.status-upload form textarea {
background: none repeat scroll 0 0 #fff;
border: medium none;
-webkit-border-radius: 4px 4px 0 0;
-moz-border-radius: 4px 4px 0 0;
border-radius: 4px 4px 0 0;
color: #777777;
float: left;
font-family: Lato;
font-size: 14px;
height: 142px;
letter-spacing: 0.3px;
padding: 30px;
width: 100%;
resize:vertical;
outline:none;
border: 1px solid #F2F2F2;
}

.status-upload ul {
float: left;
list-style: none outside none;
margin: 0;
padding: 0 0 0 15px;
width: auto;
}
.status-upload ul > li {
float: left;
}
.status-upload ul > li > a {
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: #777777;
float: left;
font-size: 14px;
height: 30px;
line-height: 30px;
margin: 10px 0 10px 10px;
text-align: center;
-webkit-transition: all 0.4s ease 0s;
-moz-transition: all 0.4s ease 0s;
transition: all 0.4s ease 0s;
width: 30px;
cursor: pointer;
}
.status-upload ul > li > a:hover {
background: none repeat scroll 0 0 #606060;
color: #fff;
}
.status-upload form button {
border: medium none;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
color: white;
float: right;
font-family: Lato;
font-size: 14px;
letter-spacing: 0.3px;
margin-right: 9px;
margin-top: 9px;
padding: 6px 15px;
margin-bottom: 2%;
}
.dropdown > a > span.green:before {
border-left-color: #2dcb73;
}
.status-upload form button > i {
margin-right: 7px;
}


/*padding for heading on register user page for navbar room*/
.register {
    padding-top: 14em;
}

/*padding for heading on sigin page for navbar room*/
.signin {
    padding-top: 4em;
}

/*padding for user page on user page for navbar room*/
.user {
    padding-top: 4em; 
    overflow: auto;
}

/*heading paddings*/
#headers {
    padding-top: 2em;
}


.table {
    width: 100%;
}

footer{
    text-align: center;
}


@media (max-width: 320px) {
 .navbar-inverse .navbar-nav {
        float: right;
    }
.menu {
    list-style: none;
}
#registerLink {
  display: none;
}
.sloganMobile {
    padding-top: 35%;
    text-shadow: 2px 2px 4px #000000;
    font: bold;
    text-align: left;
}

.name, .statment {
    display: none;
}

.btn-lg {
    display: none;
}
     /*about section, start of main body, explains how it works*/
#about{
    padding-top: 5%;
}



.paraHeading {
    display: none;
}

.storyPara {
    margin-top: 25%;
}
}

@media (min-width: 321px) and (max-width: 480px) {
.navbar-inverse .navbar-nav {
        float: right;
    }

.menu {
    list-style: none;
}

#registerLink {
  display: none;
}
.sloganMobile {
    padding-top: 30%;
    text-shadow: 2px 2px 4px #000000;
    font: bold;
    text-align: left;
}


#about {
        padding-top: 5%;
    }

.paraHeading {
    display: none;
}
.name, .statment {
    display: none ;
}

.btn-lg {
    display: none;
}
.storyPara {
    margin-top: 28%;
}
}

@media (min-width: 480px) and (max-width: 766px) {
.navbar-inverse .navbar-nav {
        float: right;
    }


.menu {
    list-style: none;
}

#registerLink {
  display: none;
}
.sloganMobile {
    padding-top: 20%;
    text-shadow: 2px 2px 4px #000000;
    font: bold;
    text-align: left;
}

.findSpot {
    font-size: 28px;
}
#about {
    padding-top: 0%;
}

h4,.h4 {
    font-size: 30px;
}

.paraHeading {
    display: none;
}
.name, .statment {
    display: none;
}

.btn-lg {
    display: none;
}

.storyPara {
    margin-top: 20%;
}
}

@media (min-width: 767px) {

.navbar-fixed-top { 
    position: fixed!important;

}
.navbar-brand {
    font-size: 34px;
    float: right;
}

.navbar-inverse .navbar-nav {
    font-size: 20px;
    margin-right: 0%;
}

.navbar-nav > li > a {
    padding-left: 0%;
    color: grey;
}

li.app{
    display: none;
}

.menu {
    list-style: none;
    padding-left: 15px;
}

.menu li {
    display:inline;
    margin-right: 15px;
    
}


.header {
    height: 600px;
    
}

.sloganMobile {
    display: none;
}


.headerWord {
    height: 600px;
    text-align: left;
}

.name {
    padding-top: 20%;
    text-align: left;
    font: bold;
    font-size: 52px;
    margin-bottom: 5px;
    text-shadow: 2px 2px 4px #000000;
}

.statment {
    text-align: left;
    margin-top: 5px;
    margin-bottom: 30px;
    text-shadow: 2px 2px 4px #000000;
}

.colLine{
    display: none;
}
#about {
    padding-top: 1%;
}

.aboutTitles {
   margin-top: 20%;
}

.col-md-4 {
    margin-bottom: 3%;
}

h4,.h4 {
    font-size: 36px;
    
}


.contactHeading {
    margin-top: 5%;
    width: 50%;
    font-size: 26px;
}

.story {
    margin-top: 8%;
}

.storyPara {
  background:#7f7f7f;
  background:rgba(0,0,0,0.5);
  width: 90%;
  border-radius: 20px;
}

.form-control {
    width: 50%;
}
/*padding for heading on contact page for navbar room*/
.contact {
    margin-top: 5%;
}

#contactInfo {
    margin-top: 22%;
}

/*padding for heading on register user page for navbar room*/
.register {
    padding-top: 5%;
}

/*padding for heading on sigin page for navbar room*/
.signin {
    padding-top: 5%;
}


}