﻿
<div class="modal fade" id="appDownload">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">MeterSpot</h4>
            </div>
            <div class="modal-body">
                <p>Simple, Quick, Convienent way to find meter parking</p>
                <a class="btn btn-danger btn-sm" href="#">
                    <i class="fa fa-arrow-circle-down"></i> Download App
                </a>
            </div>
        </div>
    </div>
</div>