﻿
<hr />
<!--footer with social media icons and copy right-->
<footer>
    <a href="#"><i class="fa fa-facebook fa"></i>&nbsp;&nbsp;&nbsp;</a><a href="#"><i class="fa fa-twitter fa"></i></a>&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa fa-linkedin fa" aria-hidden="true"></i></a>
    <p>&copy; @DateTime.Now.Year - MeterSpot Inc.</p>
</footer>
