﻿
<div class="header">
    <!--header image-->
                <img src="https://res.cloudinary.com/hbwoqojcp/image/upload/v1487644789/meterpark_edited_mini_rwuzmr.jpg" class="img-responsive" alt="Chania">
                
          </div>  
        <!--desktop heading page-->
            <div class="headerWords">
                
                <h1 class="name">Simple. Quick. Convienent</h1>
                <h3 class="statment">Easy, hassle free way to find meter parking</h3>
                <a class="btn btn-danger btn-lg" href="#">
                    <i class="fa fa-arrow-circle-down"></i> Download App </a>
            </div>
            
            <!--heading on mobile page-->
            <div class="sloganMobile">
                <h4 class="findSpot">Find your Spot</h4>
            </div>
     