﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeterSpot - @ViewBag.Title</title>
    @Styles.Render("~/content/css")
    
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script%7cOpen+Sans%7cOpen+Sans+Condensed:300" rel="stylesheet">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
   <!-- <script src="https://use.fontawesome.com/e9c66e3d97.js"></script>-->
   <meta name="description" content="MeterSpot Home Page" />
</head>
<body>
    <div class="site-wrapper">
        <div class="container-fluid">
            @Html.Partial("_NavBar")
            @Html.Partial("_Header")

            <div>
                @RenderBody()
            </div>

            @Html.Partial("_Footer")
        </div>

        @Html.Partial("_appDownload")
    </div>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @RenderSection("scripts", required: false)
</body>
</html>

