﻿<header class="clearfix">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
                <div class="navbar navbar-brand">
                    @Html.ActionLink("MeterSpot", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <button type="button" class="navbar-toggle offcanvas-toggle pull-left" data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas" style="float:left;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            <div class="navbar-header">

                <div class="navbar-offcanvas navbar-offcanvas-touch" id="js-bootstrap-offcanvas">
                    <ul class="nav navbar-nav">
                        <li class="app"><a href="#"><i class="fa fa-arrow-circle-down" aria-hidden="true">&nbsp;</i>Download App</a></li>
                        

                        @Html.Partial("_LoginPartial")
                        
                    </ul>
                </div>
            </div>

            
        </div>
        
    </nav>
</header>


