﻿@{
    
}
<div id="about">
    <!--<p class="paraHeading">Whenever you need a parking meter spot, MeterSpot is there for you. </p>-->
    <div class="container">
        <!--main about heading with tooltip to contact page-->
        <div class="aboutTitles"><a href="@Url.Action("Contact", "Home")" data-toggle="tooltip" title="Learn More About MeterSpot!"> How MeterSpot Works</a></div>

        <div class="row">
            <div class="col-md-4"> <!--first row explaining how the app works-->
                <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
                <h4>Search</h4> <br />From the app, select find a meter near me and the pick a open parking Meter. <!--Download the <a href="#"> MeterSpot</a> App.-->
                <hr class="colLine"/>
            </div>
                <div class="col-md-4"> <!--second row explaining how to reach your destination-->
                    <i class="fa fa-road fa-5x" aria-hidden="true"></i>
                    <h4>Drive</h4> <br />Once you find that right spot, head to your selection via GPS.
                    <hr class="colLine" />
                </div>
                <div class="col-md-4"> <!--third row explaining the last step-->
                    <i class="fa fa-car fa-5x" aria-hidden="true"></i>
                    <h4>Park &amp; Enjoy</h4> <br />Lastly, park at that perfect spot and enjoy using the easiest way to park.
                    <hr class="colLine"/>
                </div>
            </div>
    </div>
</div>