﻿@{
    ViewBag.Title = "Our Story";
}

<div class="container-fluid">
    <div class="contact">
        <!--main heading for contact page-->
        <h1 class="contactHeading">When the going gets tough, the tough finds an easy way?</h1>
        <div class="header">
            <img src="https://res.cloudinary.com/hbwoqojcp/image/upload/v1487644506/Black-And-White-Wallpaper-in-HQ-Resolution_mini_rpanez.jpg" class="img-responsive" alt="streetPic" />
        </div>
        <div class="story">
            <!--main paragraph for contact page-->
            <p class="storyPara">
                I'm running late and need to find a parking spot fast, not wanting to park far away in a near
                by parking garage, I begin the strenuous process of trying to find a parking meter. There's one!
                Nope, it's not in working order, there's one! Nope it's a handicap spot. During this whole process
                I think to myself, theres got to be an easier way, that's when MeterSpot was born. With MeterSpot
                save time, get rid of the hassle of tying to find meter parking. Finding parking should be as easy
                as shooting fish in a barrel.
            </p>
        </div>

        <!--let us know what you think comment box-->
        <div id="contactInfo">
            <h4>Let us know what you think!</h4>
            <div class="row">

                <div class="col-md-6">
                    <div class="widget-area no-padding blank">
                        <div class="status-upload">
                            <form>
                                <textarea placeholder="What do you think about MeterSpot?"></textarea>
                                <button type="submit" class="btn btn-success green"><i class="fa fa-share"></i> Share</button>
                            </form>
                        </div><!-- Status Upload  -->
                    </div><!-- Widget Area -->
                </div>

            </div>

            <!--contact information for company-->
            <h4>Contact Information</h4>
            <address>
                621 W. Dilin St.<br />
                Lincoln, NE 68521<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </div>
    </div>
</div>
