﻿@{
    ViewBag.Title = "Find your Spot!";
    
}

  
    <!--about section-->
    <div class="aboutSec">
        @RenderPage("~/Views/Home/About.cshtml")
    </div> 

<!--app download pop up-->
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var pageWidth = $(window).width();

            if (pageWidth < 767 && localStorage.getItem('popState') != 'shown') {
                $('#appDownload').modal('show')
                localStorage.setItem('popState', 'shown');
            }
        });
       
        
</script>

    
    }